In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
!pip install seaborn

!pip install git+https://github.com/tensorflow/docs

Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.10.0)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (0.25.3)
Requirement already satisfied: matplotlib>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->seaborn) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.4.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn) (46.0.0)
Collecting git+https://github.com/tensorflow/docs
  Cloning https://github.com/tensorflow/docs to /tmp/pip-req-build-lgk9fjad
  Running command git clone -q https://github.com/tensorflow/docs /tmp/pip-req-build-lgk9fjad
Requirement already satisfied: astor in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (0.8.1)
Requirement already satisfied: absl-py in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (0.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (1.12.0)
Collecting pathlib2
  Downloading https://files.pythonhosted.org/packages/e9/45/9c82d3666af4ef9f221cbb954e1d77ddbb513faf552aea6df5f37f1a4859/pathlib2-2.3.5-py2.py3-none-any.whl
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (3.13)
Building wheels for collected packages: tensorflow-docs
  Building wheel for tensorflow-docs (setup.py) ... done
  Created wheel for tensorflow-docs: filename=tensorflow_docs-0.0.0-cp36-none-any.whl size=80383 sha256=c4da8f0968f703a4169f2e6c6f8632770983417fa16f58a04f8d86f599e50e88
  Stored in directory: /tmp/pip-ephem-wheel-cache-78roa8xt/wheels/eb/1b/35/fce87697be00d2fc63e0b4b395b0d9c7e391a10e98d9a0d97f
Successfully built tensorflow-docs
Installing collected packages: pathlib2, tensorflow-docs
Successfully installed pathlib2-2.3.5 tensorflow-docs-0.0.0

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [4]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

TensorFlow 2.x selected.
2.1.0

In [0]:
import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling

In [0]:
dataset_path = "/content/drive/My Drive/data/data.txt"

In [7]:
column_names = ['country', 'year', 'uniqueid', 'bank_account',
                'location_type', 'cellphone_access', 'household_size',
                'age_of_respondent', 'gender_of_respondent', 'relationship_with_head',
                'marital_status', 'education_level', 'job_type']

raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      sep=";", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset.tail()

      country  year  ...      education_level       job_type
23520  Uganda  2018  ...  No formal education   Other Income
23521  Uganda  2018  ...  Secondary education   Other Income
23522  Uganda  2018  ...    Primary education   Other Income
23523  Uganda  2018  ...  Secondary education  Self employed
23524  Uganda  2018  ...  Secondary education      No Income

[5 rows x 13 columns]

In [8]:
dataset.isna().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [9]:
dataset.pop("uniqueid")

0             uniqueid
1           uniqueid_1
2           uniqueid_2
3           uniqueid_3
4           uniqueid_4
             ...
23520    uniqueid_2113
23521    uniqueid_2114
23522    uniqueid_2115
23523    uniqueid_2116
23524    uniqueid_2117
Name: uniqueid, Length: 23525, dtype: object

In [0]:
dataset['age_of_respondent'] = pd.to_numeric(dataset['age_of_respondent'], errors='coerce')
dataset['household_size'] = pd.to_numeric(dataset['household_size'], errors='coerce')

In [11]:
dataset = pd.get_dummies(dataset, prefix='', prefix_sep='', columns=["country", "year", "relationship_with_head", "marital_status", "education_level", "job_type"])
labelencoder = LabelEncoder()
dataset.iloc[:, 0] = labelencoder.fit_transform(dataset.iloc[:, 0].values)
dataset.iloc[:, 1] = labelencoder.fit_transform(dataset.iloc[:, 1].values)
dataset.iloc[:, 2] = labelencoder.fit_transform(dataset.iloc[:, 2].values)
dataset.iloc[:, 5] = labelencoder.fit_transform(dataset.iloc[:, 5].values)
dataset.tail()

       bank_account  location_type  ...  Self employed  job_type
23520             0              0  ...              0         0
23521             0              0  ...              0         0
23522             0              0  ...              0         0
23523             0              1  ...              1         0
23524             0              0  ...              0         0

[5 rows x 46 columns]

In [12]:
dataset.pop("country")
dataset.pop("year")
dataset.pop("relationship_with_head")
dataset.pop("marital_status")
dataset.pop("education_level")
dataset.pop("job_type")
dataset.tail()

       bank_account  location_type  ...  Remittance Dependent  Self employed
23520             0              0  ...                     0              0
23521             0              0  ...                     0              0
23522             0              0  ...                     0              0
23523             0              1  ...                     0              1
23524             0              0  ...                     0              0

[5 rows x 40 columns]

In [0]:
train_dataset = dataset.sample(frac=1,random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [14]:
train_stats = train_dataset.describe()
train_stats.pop("bank_account")
train_stats = train_stats.transpose()
train_stats

                                   count       mean  ...   75%    max
location_type                    23525.0   0.390351  ...   1.0    2.0
cellphone_access                 23525.0   0.742019  ...   1.0    2.0
household_size                   23524.0   3.797483  ...   5.0   21.0
age_of_respondent                23524.0  38.805220  ...  49.0  100.0
gender_of_respondent             23525.0   0.410159  ...   1.0    2.0
Kenya                            23525.0   0.257938  ...   1.0    1.0
Rwanda                           23525.0   0.371307  ...   1.0    1.0
Tanzania                         23525.0   0.281403  ...   1.0    1.0
Uganda                           23525.0   0.089309  ...   0.0    1.0
2016                             23525.0   0.371307  ...   1.0    1.0
2017                             23525.0   0.281403  ...   1.0    1.0
2018                             23525.0   0.347248  ...   1.0    1.0
Child                            23525.0   0.094750  ...   0.0    1.0
Head of Household                23525.0   0.545420  ...   1.0    1.0
Other non-relatives              23525.0   0.008077  ...   0.0    1.0
Other relative                   23525.0   0.028395  ...   0.0    1.0
Parent                           23525.0   0.046164  ...   0.0    1.0
Spouse                           23525.0   0.277152  ...   1.0    1.0
Divorced/Seperated               23525.0   0.088247  ...   0.0    1.0
Dont know                        23525.0   0.000340  ...   0.0    1.0
Married/Living together          23525.0   0.456918  ...   1.0    1.0
Single/Never Married             23525.0   0.339341  ...   1.0    1.0
Widowed                          23525.0   0.115112  ...   0.0    1.0
No formal education              23525.0   0.191923  ...   0.0    1.0
Other/Dont know/RTA              23525.0   0.001488  ...   0.0    1.0
Primary education                23525.0   0.543719  ...   1.0    1.0
Secondary education              23525.0   0.179511  ...   0.0    1.0
Tertiary education               23525.0   0.049182  ...   0.0    1.0
Vocational/Specialised training  23525.0   0.034134  ...   0.0    1.0
Dont Know/Refuse to answer       23525.0   0.005356  ...   0.0    1.0
Farming and Fishing              23525.0   0.231286  ...   0.0    1.0
Formally employed Government     23525.0   0.016451  ...   0.0    1.0
Formally employed Private        23525.0   0.044846  ...   0.0    1.0
Government Dependent             23525.0   0.010499  ...   0.0    1.0
Informally employed              23525.0   0.237917  ...   0.0    1.0
No Income                        23525.0   0.026652  ...   0.0    1.0
Other Income                     23525.0   0.045909  ...   0.0    1.0
Remittance Dependent             23525.0   0.107418  ...   0.0    1.0
Self employed                    23525.0   0.273624  ...   1.0    1.0

[39 rows x 8 columns]

In [15]:
train_labels = train_dataset.pop('bank_account')
train_labels

4857     0
22132    0
22676    0
5165     0
16211    0
        ..
13123    0
19648    0
9845     1
10799    0
2732     1
Name: bank_account, Length: 23525, dtype: int64

In [16]:
def norm(x):
  return (x - train_stats['mean']) / train_stats['std']
normed_train_data = norm(train_dataset)
normed_train_data

       location_type  cellphone_access  ...  Remittance Dependent  Self employed
4857         1.24947          0.589496  ...             -0.346900      -0.613744
22132       -0.80002          0.589496  ...             -0.346900      -0.613744
22676       -0.80002         -1.695540  ...             -0.346900       1.629276
5165         1.24947          0.589496  ...             -0.346900      -0.613744
16211       -0.80002          0.589496  ...             -0.346900      -0.613744
...              ...               ...  ...                   ...            ...
13123       -0.80002          0.589496  ...              2.882552      -0.613744
19648        1.24947         -1.695540  ...             -0.346900      -0.613744
9845         1.24947          0.589496  ...             -0.346900      -0.613744
10799       -0.80002         -1.695540  ...             -0.346900      -0.613744
2732        -0.80002          0.589496  ...             -0.346900      -0.613744

[23525 rows x 39 columns]

In [0]:
def build_model():
  model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=[len(train_dataset.keys())]),
    layers.Dense(64, activation='relu'),
    layers.Dense(1, activation='sigmoid')
  ])

  optimizer = tf.keras.optimizers.RMSprop(0.001)

  model.compile(optimizer='adam',
                loss='binary_crossentropy',
                metrics=['accuracy'])
  return model

In [0]:
model = build_model()

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                2560
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 6,785
Trainable params: 6,785
Non-trainable params: 0
_________________________________________________________________

In [20]:

example_batch = normed_train_data[:10]

example_result = model.predict(example_batch)
example_result

array([[0.3500079 ],
       [0.22684759],
       [0.31130576],
       [0.65313107],
       [0.38192418],
       [0.46963295],
       [0.27980524],
       [0.41709974],
       [0.38893056],
       [0.44823536]], dtype=float32)

In [0]:
EPOCHS = 300

history = model.fit(
  normed_train_data, train_labels,
  epochs=EPOCHS, validation_split = 0.2, verbose=0,
  callbacks=[tfdocs.modeling.EpochDots()])

Epoch: 0, accuracy:0.8649,  loss:0.3966,  val_accuracy:0.8597,  val_loss:0.4055,
....................................................................................................
Epoch: 100, accuracy:0.8590,  loss:0.4071,  val_accuracy:0.8597,  val_loss:0.4055,
....................................................................................................
Epoch: 200, accuracy:0.8590,  loss:0.4068,  val_accuracy:0.8597,  val_loss:0.4061,
...........

In [0]:
loss, mae = model.evaluate(normed_train_data, train_labels, verbose=2)

print("Testing set Mean Abs Error: {:5.2f} MPG".format(mae))

23525/23525 - 1s - loss: nan - accuracy: 0.8592
Testing set Mean Abs Error:  0.86 MPG

In [0]:
dataset_path = "/content/drive/My Drive/data/test.txt"

In [0]:
column_names = ['country', 'year', 'uniqueid',
                'location_type', 'cellphone_access', 'household_size',
                'age_of_respondent', 'gender_of_respondent', 'relationship_with_head',
                'marital_status', 'education_level', 'job_type']

raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      sep=";", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset.tail()

      country  year  ...      education_level       job_type
10082  Uganda  2018  ...    Primary education  Self employed
10083  Uganda  2018  ...    Primary education  Self employed
10084  Uganda  2018  ...  Secondary education   Other Income
10085  Uganda  2018  ...    Primary education  Self employed
10086  Uganda  2018  ...  Secondary education   Other Income

[5 rows x 12 columns]

In [0]:
dataset = pd.get_dummies(dataset, prefix='', prefix_sep='', columns=["year", "relationship_with_head", "marital_status", "education_level", "job_type"])
labelencoder = LabelEncoder()
dataset.iloc[:, 0] = labelencoder.fit_transform(dataset.iloc[:, 0].values)
dataset.iloc[:, 1] = labelencoder.fit_transform(dataset.iloc[:, 1].values)
dataset.iloc[:, 2] = labelencoder.fit_transform(dataset.iloc[:, 2].values)
dataset.iloc[:, 5] = labelencoder.fit_transform(dataset.iloc[:, 5].values)
dataset.tail()

       country  location_type  ...  Self employed  job_type
10082        3              0  ...              1         0
10083        3              1  ...              1         0
10084        3              1  ...              0         0
10085        3              0  ...              1         0
10086        3              1  ...              0         0

[5 rows x 41 columns]

In [0]:
dataset.pop("year")
dataset.pop("relationship_with_head")
dataset.pop("marital_status")
dataset.pop("education_level")
dataset.pop("job_type")
dataset.tail()

       country  location_type  ...  Remittance Dependent  Self employed
10082        3              0  ...                     0              1
10083        3              1  ...                     0              1
10084        3              1  ...                     0              0
10085        3              0  ...                     0              1
10086        3              1  ...                     0              0

[5 rows x 36 columns]

In [0]:
train_stats = train_dataset.describe()
train_stats = train_stats.transpose()
train_stats

                                   count       mean  ...   75%    max
location_type                    10087.0   0.386537  ...   1.0    2.0
cellphone_access                 10087.0   0.749579  ...   1.0    2.0
household_size                   10087.0   2.779816  ...   4.0   18.0
age_of_respondent                10086.0  38.308348  ...  48.0  100.0
gender_of_respondent             10087.0   0.257857  ...   1.0    1.0
Kenya                            10087.0   0.257857  ...   1.0    1.0
Rwanda                           10087.0   0.371270  ...   1.0    1.0
Tanzania                         10087.0   0.281451  ...   1.0    1.0
Uganda                           10087.0   0.089323  ...   0.0    1.0
2016                             10087.0   0.371270  ...   1.0    1.0
2017                             10087.0   0.281451  ...   1.0    1.0
2018                             10087.0   0.347180  ...   1.0    1.0
Child                            10087.0   0.095370  ...   0.0    1.0
Head of Household                10087.0   0.543967  ...   1.0    1.0
Other non-relatives              10087.0   0.006840  ...   0.0    1.0
Other relative                   10087.0   0.025577  ...   0.0    1.0
Parent                           10087.0   0.046099  ...   0.0    1.0
Spouse                           10087.0   0.282046  ...   1.0    1.0
Divorced/Seperated               10087.0   0.086051  ...   0.0    1.0
Dont know                        10087.0   0.000099  ...   0.0    1.0
Married/Living together          10087.0   0.462278  ...   1.0    1.0
Single/Never Married             10087.0   0.341727  ...   1.0    1.0
Widowed                          10087.0   0.109745  ...   0.0    1.0
No formal education              10087.0   0.182016  ...   0.0    1.0
Other/Dont know/RTA              10087.0   0.001784  ...   0.0    1.0
Primary education                10087.0   0.543174  ...   1.0    1.0
Secondary education              10087.0   0.188560  ...   0.0    1.0
Tertiary education               10087.0   0.048776  ...   0.0    1.0
Vocational/Specialised training  10087.0   0.035590  ...   0.0    1.0
Dont Know/Refuse to answer       10087.0   0.005453  ...   0.0    1.0
Farming and Fishing              10087.0   0.234956  ...   0.0    1.0
Formally employed Government     10087.0   0.016457  ...   0.0    1.0
Formally employed Private        10087.0   0.044017  ...   0.0    1.0
Government Dependent             10087.0   0.009914  ...   0.0    1.0
Informally employed              10087.0   0.235154  ...   0.0    1.0
No Income                        10087.0   0.027362  ...   0.0    1.0
Other Income                     10087.0   0.041935  ...   0.0    1.0
Remittance Dependent             10087.0   0.109745  ...   0.0    1.0
Self employed                    10087.0   0.274908  ...   1.0    1.0

[39 rows x 8 columns]