In [1]:
!pip install seaborn

!pip install git+https://github.com/tensorflow/docs

Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.10.0)
Requirement already satisfied: matplotlib>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.0)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.2)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (0.25.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->seaborn) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn) (46.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=2.1.2->seaborn) (1.12.0)
Collecting git+https://github.com/tensorflow/docs
  Cloning https://github.com/tensorflow/docs to /tmp/pip-req-build-1u2k3lt3
  Running command git clone -q https://github.com/tensorflow/docs /tmp/pip-req-build-1u2k3lt3
Requirement already satisfied: astor in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (0.8.1)
Requirement already satisfied: absl-py in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (0.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (1.12.0)
Collecting pathlib2
  Downloading https://files.pythonhosted.org/packages/e9/45/9c82d3666af4ef9f221cbb954e1d77ddbb513faf552aea6df5f37f1a4859/pathlib2-2.3.5-py2.py3-none-any.whl
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from tensorflow-docs==0.0.0) (3.13)
Building wheels for collected packages: tensorflow-docs
  Building wheel for tensorflow-docs (setup.py) ... done
  Created wheel for tensorflow-docs: filename=tensorflow_docs-0.0.0-cp36-none-any.whl size=80383 sha256=836d339619c4b2f596802c76c074a4967c0aa48330243ccaa835370be0b84f20
  Stored in directory: /tmp/pip-ephem-wheel-cache-p80pzrqo/wheels/eb/1b/35/fce87697be00d2fc63e0b4b395b0d9c7e391a10e98d9a0d97f
Successfully built tensorflow-docs
Installing collected packages: pathlib2, tensorflow-docs
Successfully installed pathlib2-2.3.5 tensorflow-docs-0.0.0

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [4]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

TensorFlow 2.x selected.
2.1.0

In [0]:
import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling
from sklearn.preprocessing import LabelEncoder

In [6]:
dataset = pd.read_csv('Train_v2.csv')
dataset.head(10)

  country  year  ...                  education_level                      job_type
0   Kenya  2018  ...              Secondary education                 Self employed
1   Kenya  2018  ...              No formal education          Government Dependent
2   Kenya  2018  ...  Vocational/Specialised training                 Self employed
3   Kenya  2018  ...                Primary education     Formally employed Private
4   Kenya  2018  ...                Primary education           Informally employed
5   Kenya  2018  ...                Primary education           Informally employed
6   Kenya  2018  ...                Primary education                 Self employed
7   Kenya  2018  ...               Tertiary education  Formally employed Government
8   Kenya  2018  ...              Secondary education           Farming and Fishing
9   Kenya  2018  ...              No formal education          Remittance Dependent

[10 rows x 13 columns]

In [5]:
dataset.isna().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [0]:
dataset.pop("uniqueid")
dataset.pop("year")
dataset['age_of_respondent'] = pd.to_numeric(dataset['age_of_respondent'], errors='coerce')
dataset['household_size'] = pd.to_numeric(dataset['household_size'], errors='coerce')

In [8]:
dataset = pd.get_dummies(dataset, prefix='', prefix_sep='', columns=["country", "relationship_with_head", "marital_status", "education_level", "job_type"])
labelencoder = LabelEncoder()
dataset.iloc[:, 0] = labelencoder.fit_transform(dataset.iloc[:, 0].values)
dataset.iloc[:, 1] = labelencoder.fit_transform(dataset.iloc[:, 1].values)
dataset.iloc[:, 2] = labelencoder.fit_transform(dataset.iloc[:, 2].values)
dataset.iloc[:, 5] = labelencoder.fit_transform(dataset.iloc[:, 5].values)
dataset.tail()

       bank_account  location_type  ...  Remittance Dependent  Self employed
23519             0              0  ...                     0              0
23520             0              0  ...                     0              0
23521             0              0  ...                     0              0
23522             0              1  ...                     0              1
23523             0              0  ...                     0              0

[5 rows x 37 columns]

In [0]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 40 columns):
bank_account                       23524 non-null int64
location_type                      23524 non-null int64
cellphone_access                   23524 non-null int64
household_size                     23524 non-null int64
age_of_respondent                  23524 non-null int64
gender_of_respondent               23524 non-null int64
Kenya                              23524 non-null uint8
Rwanda                             23524 non-null uint8
Tanzania                           23524 non-null uint8
Uganda                             23524 non-null uint8
2016                               23524 non-null uint8
2017                               23524 non-null uint8
2018                               23524 non-null uint8
Child                              23524 non-null uint8
Head of Household                  23524 non-null uint8
Other non-relatives                23524 non-null uint8
Other relative                     23524 non-null uint8
Parent                             23524 non-null uint8
Spouse                             23524 non-null uint8
Divorced/Seperated                 23524 non-null uint8
Dont know                          23524 non-null uint8
Married/Living together            23524 non-null uint8
Single/Never Married               23524 non-null uint8
Widowed                            23524 non-null uint8
No formal education                23524 non-null uint8
Other/Dont know/RTA                23524 non-null uint8
Primary education                  23524 non-null uint8
Secondary education                23524 non-null uint8
Tertiary education                 23524 non-null uint8
Vocational/Specialised training    23524 non-null uint8
Dont Know/Refuse to answer         23524 non-null uint8
Farming and Fishing                23524 non-null uint8
Formally employed Government       23524 non-null uint8
Formally employed Private          23524 non-null uint8
Government Dependent               23524 non-null uint8
Informally employed                23524 non-null uint8
No Income                          23524 non-null uint8
Other Income                       23524 non-null uint8
Remittance Dependent               23524 non-null uint8
Self employed                      23524 non-null uint8
dtypes: int64(6), uint8(34)
memory usage: 1.8 MB

In [0]:
dataset.describe()

       bank_account  location_type  ...  Remittance Dependent  Self employed
count  23524.000000   23524.000000  ...          23524.000000   23524.000000
mean       0.140792       0.390282  ...              0.107422       0.273635
std        0.347815       0.487824  ...              0.309656       0.445834
min        0.000000       0.000000  ...              0.000000       0.000000
25%        0.000000       0.000000  ...              0.000000       0.000000
50%        0.000000       0.000000  ...              0.000000       0.000000
75%        0.000000       1.000000  ...              0.000000       1.000000
max        1.000000       1.000000  ...              1.000000       1.000000

[8 rows x 40 columns]

In [0]:
output = dataset.pop("bank_account")
X_train = dataset
Y_train = output

In [0]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)

In [0]:
def build_model():
  model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=[36]),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
  ])

  optimizer = tf.keras.optimizers.RMSprop(0.001)

  model.compile(optimizer='adam',
                loss='binary_crossentropy',
                metrics=['accuracy'])
  return model

In [0]:
model = build_model()

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                2368
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 6,593
Trainable params: 6,593
Non-trainable params: 0
_________________________________________________________________

In [14]:

example_batch = X_train[:10]

example_result = model.predict(example_batch)
example_result

array([[-0.07873997],
       [ 0.5175238 ],
       [-0.570799  ],
       [ 0.5792637 ],
       [-0.06980962],
       [-0.22194955],
       [-0.05885685],
       [-0.19585076],
       [-0.08380014],
       [ 0.1746152 ]], dtype=float32)

In [0]:
EPOCHS = 500

history = model.fit(
  X_train, Y_train,
  epochs=EPOCHS, validation_split = 0.2, verbose=0,
  callbacks=[tfdocs.modeling.EpochDots()])

Epoch: 0, accuracy:0.8431,  loss:0.9701,  val_accuracy:0.9103,  val_loss:0.7099,
....................................................................................................
Epoch: 100, accuracy:0.8894,  loss:0.3261,  val_accuracy:0.9239,  val_loss:0.6444,
....................................................................................................
Epoch: 200, accuracy:0.9022,  loss:0.2877,  val_accuracy:0.9222,  val_loss:0.8017,
....................................................................................................
Epoch: 300, accuracy:0.9027,  loss:0.3077,  val_accuracy:0.9197,  val_loss:0.8007,
....................................................................................................
Epoch: 400, accuracy:0.9165,  loss:0.2606,  val_accuracy:0.9150,  val_loss:0.9128,
...........................................................................

In [0]:
dataset_test = pd.read_csv('Test_v2.csv')
dataset_test.head(10)

  country  year  ...                  education_level                      job_type
0   Kenya  2018  ...              Secondary education  Formally employed Government
1   Kenya  2018  ...  Vocational/Specialised training     Formally employed Private
2   Kenya  2018  ...              No formal education          Remittance Dependent
3   Kenya  2018  ...                Primary education          Remittance Dependent
4   Kenya  2018  ...              Secondary education          Remittance Dependent
5   Kenya  2018  ...                Primary education                 Self employed
6   Kenya  2018  ...                Primary education           Informally employed
7   Kenya  2018  ...  Vocational/Specialised training                 Self employed
8   Kenya  2018  ...                Primary education           Informally employed
9   Kenya  2018  ...              Secondary education           Farming and Fishing

[10 rows x 12 columns]

In [0]:
array_id = dataset_test.pop("uniqueid")
array_country = dataset_test['country']
dataset_test.pop("year")

In [0]:
dataset_test['age_of_respondent'] = pd.to_numeric(dataset['age_of_respondent'], errors='coerce')
dataset_test['household_size'] = pd.to_numeric(dataset['household_size'], errors='coerce')

In [0]:
dataset_test = pd.get_dummies(dataset_test, prefix='', prefix_sep='', columns=["country", "relationship_with_head", "marital_status", "education_level", "job_type"])
labelencoder = LabelEncoder()
dataset_test.iloc[:, 0] = labelencoder.fit_transform(dataset_test.iloc[:, 0].values)
dataset_test.iloc[:, 1] = labelencoder.fit_transform(dataset_test.iloc[:, 1].values)
dataset_test.iloc[:, 4] = labelencoder.fit_transform(dataset_test.iloc[:, 4].values)
dataset_test.tail()

       location_type  cellphone_access  ...  Remittance Dependent  Self employed
10081              0                 0  ...                     0              1
10082              1                 1  ...                     0              1
10083              1                 1  ...                     0              0
10084              0                 1  ...                     0              1
10085              1                 1  ...                     0              0

[5 rows x 39 columns]

In [0]:
X_test = sc_X.fit_transform(dataset_test)

In [0]:
Y_pred = model.predict(X_test).flatten()

In [0]:
file = open("NN.txt","w") 
file.write("uniqueid,bank_account\n")

for i in range(0, len(X_test)):
    if (Y_pred[i]<0.5):
      result = 0
    else:
      result = 1
    

    file.write(array_id[i]+" x "+array_country[i]+","+str(result)+"\n")
    
file.close()